* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 40%;
}

.hide {
    display: none;
}

.nav-list li {
    list-style: none;
    border: 1px black solid;
    border-radius: 4px;
    display: inline;
    cursor: pointer;
}